{% extends "base.html" %}

{% block content %}

<!-- SPAZIO MOBILE CARICAMENTO SOTTOMENU -->
<div class="row">
  <div id="spaziosottomenu" class="col-md-12"></div>
</div>
<!-- FINE SPAZIO SOTTOMENU -->


  <!--- INIZIO GALLERY RENDER -->

  
  <div class="row">

  
  <div class="col-sm-8 contactscritte"
  
    <form role="form">
<div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="texttext" >Nome:</label>
    <input type="text" class="form-control livello" id="exampleInputEmail1" placeholder="">
  </div>

  <div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="texttext">Cognome:</label>
    <input type="text" class="form-control livello" id="exampleInputEmail1" placeholder="">
  </div>

  <div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="texttext">Telefono:</label>
    <input type="text" class="form-control livello" id="exampleInputEmail1" placeholder="">
  </div>

  <div class="form-group col-sm-6" class="texttext">
    <label for="exampleInputEmail1" class="texttext">Fax:</label>
    <input type="email" class="form-control livello" id="" placeholder="">
  </div>

  <div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="texttext">Email:</label>
    <input type="text" class="form-control livello" id="" placeholder="">
  </div>

  
  <div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="texttext">Città:</label>
    <input type="email" class="form-control livello" id="" placeholder="">
  </div>

  <div class="form-group col-sm-12">
    <label for="exampleInputEmail1" class="texttext">Indirizzo:</label>
    <input type="email" class="form-control livello" id="" placeholder="">
  </div>



  <div class="form-group col-sm-12" style="padding-left: 0px;">
    <label class="formcontrolcontatti texttext" for="">Messaggio:</label>
    <textarea class="form-control formcontrolcontatti" rows="11"></textarea>
  </div>

  

  <button type="submit" class="btn btn-default" style="margin-left: 20px;">INVIA</button>
</form>

</div> <!-- end col6 -->

<div class="col-sm-4 textcontatti">
    <p>Studio Sagitair</br>
      Architetture e Interior Design</br></br>
      via Mura, 13</br>
      25036 Palazzolo sull'Oglio (BS)</br>
      Tel (+39) 030 731944</br>
      <a href="info@studiosagitair.com">info@studiosagitair.com</a></p>
        <p>&nbsp;</p>    
    <p><h5>Condividi:&nbsp;</h5>
      <i class="fa fa-facebook fa-1x"></i>&nbsp;
      <i class="fa fa-twitter fa-1x"></i>&nbsp;
      <i class="fa fa-google-plus fa-1x"></i>&nbsp;
      <i class="fa fa-youtube fa-1x"></i>&nbsp;
      <i class="fa fa-linkedin fa-1x"></i>&nbsp;
      <i class="fa fa-pinterest fa-1x"></i>&nbsp;
      <i class="fa fa-mail fa-1x"></i>&nbsp;
    </p>

    </div>

  </div><!--end Row -->

  {% endblock %}