{% extends "base.html" %}

{% block content %}

<!-- SPAZIO MOBILE CARICAMENTO SOTTOMENU -->
<div class="row">
  <div id="spaziosottomenu" class="col-md-12"></div>
</div>
<!-- FINE SPAZIO SOTTOMENU -->


<!-- ++++ CONTENUTO +++ -->

<div class="row spaziotoprow">

  <div class="col-md-6">
    
    <h2 class="titolopro goldcolor">In Costruzione</h2>
    <p class="texttext">in costruzione</p>
    </p>
      <p>&nbsp;</p>  
    <p><h5>Condividi:&nbsp;</h5>
      <i class="fa fa-facebook fa-1x"></i>&nbsp;
      <i class="fa fa-twitter fa-1x"></i>&nbsp;
      <i class="fa fa-google-plus fa-1x"></i>&nbsp;
      <i class="fa fa-youtube fa-1x"></i>&nbsp;
      <i class="fa fa-linkedin fa-1x"></i>&nbsp;
      <i class="fa fa-pinterest fa-1x"></i>&nbsp;
      <i class="fa fa-mail fa-1x"></i>&nbsp;
    </p>

  </div><!--Fine COL MD6 -->

  <div class="col-md-6"><p>&nbsp;</p>
  
    <img src="{{ STATIC_URL }}/img/planA.jpg" class="planimetria"></div>
  
  </div>



</div><!-- Fine ROW -->



<!-- FINE CONTENUTO -->






{% endblock %}