{% extends "base.html" %}

{% block content %}


<div class="row">

{% for post in categoria_list %}
   <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
    <div class="thumbnail sfondothumb">{% load cropping %}
      <a  href="{{ MYDIR }}/{{ post.id }}"><img class="featurette-image img-responsive" src="{% cropped_thumbnail post "cropping" %}" alt="Generic placeholder image"></a>
      <div class="caption" style="padding: 0px;">
      {% if session_language = 'en' %}
        <h4 class="thumbtitle">{{ post.titolo_eng }}</h4>
      {% else %}
        <h4 class="thumbtitle">{{ post.titolo }}</h4>
      {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div><!-- fine row -->


{% endblock %}