
      <!-- FOOTER -->
      
<footer class="piede">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><p class="scrittafooter">Studio Sagitair - Architetture e Interior Design | via Mura, 13 - 25036 Palazzolo sull'Oglio (BS) - Tel (+39) 030 731944  -  <a href="mailto:info@studiosagitair.com">info@studiosagitair.com</a></p></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
    </div>
</footer>