<script type="text/javascript">
				jQuery(document).ready(function() {
					   jQuery('.tp-banner').revolution(
						{
							delay:9000,
							startwidth:1170,
							startheight:500,
							hideThumbs:10
						});
				});
			</script>

<div class="tp-banner-container">
		<div class="tp-banner" >
			<ul>
				<!-- SLIDE  -->
				{% for post in post_list %}
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
					<!-- MAIN IMAGE -->
					{% for immagini in post.galleria.all|slice:":1" %}
                    {% load cropping %}
					<img src="{% cropped_thumbnail immagini "croppingslide" %}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					{% endfor %}
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption largewhitebg skewfromrightshort fadeout"
					style="border-radius: 0px 20px 20px 0px"
						data-x="0"
						data-y="400"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut"><p class="revolutioncar"><a href="{{ post.id }}">
						{% if session_language = 'en' %}
                            {{ post.titolo_eng }} 
						{% else %}
						    {{ post.titolo }}
						{% endif %}
					    </a></p>
					</div>
					...

				</li>
				{% endfor %}
			</ul>
		</div>
</div>		

